{:deps {org.clojure/clojure           {:mvn/version "1.9.0"}          ; :scope "provided"
        org.clojure/clojurescript     {:mvn/version "1.9.946"}  ;:scope "provided" "1.7.228"
        io.replikhttps://github.com/theronic/datahikeativ/hitchhiker-tree {:mvn/version "0.1.0-SNAPSHOT"}}}