{:deps {org.clojure/clojure           {:mvn/version "1.7.0"}          ; :scope "provided"
        org.clojure/clojurescript     {:mvn/version "1.7.228"}  ;:scope "provided" "1.7.228"
        io.replikativ/hitchhiker-tree {:mvn/version "0.1.0-SNAPSHOT"}}}